*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: rgba(17, 15, 15, 0.76);
	box-shadow: 0px 0px 20px rgba(115, 194, 47, 0.829);
    width: 100%;
    height: 105px;
    display: inline-block;
}

body{
    font-size: 20px;
    overflow-x: hidden;
}

header{
    background-image: linear-gradient(rgba(10, 9, 9, 0.671),rgba(22, 21, 21, 0.747)),url('../Images/pexels-pixabay-247819.jpg');
    background-size: cover;
    height: 650px;
}

/* main.html is start */

.logo{
    max-width: 1180px;
    margin: 0 auto;
    animation-duration: 2000ms;
    animation-name: blaks;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blaks{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.logo img{
    height: 80px;
    width: auto;
    float: left;
    margin-top: 10px;
}

.logo p{
    color: rgba(212, 233, 21, 0.767);
    font-size: 30px;
}

.capt{
    float: left;
    margin-top: 30px;
    margin-left: 1%;
}


.side{
    float: left;
    margin-top: -20px;
    margin-left: 38%;
    margin-right: 1%;
}

.side li{
    display: inline-block;
    list-style: none;
    margin-left: 55px;
}

.side li a{
    padding: 5px 0px;
    color: rgb(243, 161, 9);
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
}

.side li a:hover{
    border-bottom: 3px solid #0905f3c0;
}

.menu{
    float: left;
    margin-top: 30px;
    margin-left: 31%;
    margin-right: 10px;
}

.menu li{
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}

.menu li a{
    padding: 5px 0px;
    color: rgb(243, 161, 9);
    text-decoration: none;
    font-size: 90%;
    font-weight: 100;
}

.option{
    display: none;
    position: absolute;
    background-color: rgba(10, 9, 9, 0.671);
    margin-top: 55px;
    margin-right: 90px;
    min-width: 20px;
    z-index: 1;
}

.option li{
    display: -webkit-inline-flex;
}

.option li a{
    color: rgba(245, 201, 6, 0.774);
    padding: 5px 16px;
    text-decoration: none;
    display: block;
}

.option li a:hover{
    background-color: rgba(86, 230, 50, 0.384);
}

.menu:hover .option{
    display: block;
}

.cards {
	flex-wrap: wrap;
	justify-content: center;
    padding-top: 20px;
    max-width: 1800px;
    margin-left: 9%;
}

.card {
	background-color: rgba(17, 15, 15, 0.76);
	box-shadow: 5px 10px 20px rgba(115, 194, 47, 0.829), 0 6px 6px rgba(25, 51, 10, 0.76);
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    list-style: none;
	position: relative;
    margin: 3%;
    width: 300px;
    height: 170px;
    transition: inherit;
}

.card a{
    text-decoration: none;
}

.card h2{
    color: chartreuse;
    height: 130px;
    
}

.card p{
    color: aliceblue;
}

.card img{
    color: aliceblue;
}

.card:hover{
    transform: scale(0.9);
}

/* main.html is end */


/* contect.html is start */
.info {
    flex-wrap: wrap;
	justify-content: center;
    padding-top: 10px;
    max-width: 1800px;
    margin-left: 9%;
}

.box {
	background-color: rgba(17, 15, 15, 0.76);
	box-shadow: 5px 10px 20px rgba(115, 194, 47, 0.829), 0 6px 6px rgba(25, 51, 10, 0.76);
    border-radius: 5px;
    display: inline-block;
    padding: 25px;
    list-style: none;
	position: relative;
    margin: 3%;
    width: 300px;
    height: 450px;
    transition: inherit;
}

.box a p{
    color: orange;
    margin-top: -55px;
    margin-left: 15px;
    text-decoration: none;
}

.box h2{
    color: chartreuse;
    text-align: center;
    padding-top: 10px;
}

.box p{
    color: rgba(187, 175, 14, 0.815);
    text-align: center;
    padding-top: 10px;
}

.box img{
    margin-left: 40px;
    width: 170px;
    height: 200px;
}

.box a img{
    height: 60px;
    width: auto;
    margin-top: -5px;
}

.box:hover{
    transform: scale(0.9);
}
/* contect.html is end */


/* About.html is start */
.inte {
    flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(17, 15, 15, 0.76);
	box-shadow: 5px 10px 20px rgba(115, 194, 47, 0.829), 0 6px 6px rgba(25, 51, 10, 0.76);
    border-radius: 5px;
    display: inline-block;
    padding: 1px;
    list-style: none;
    position: relative;
    margin-top: 20px;
    margin-left: 10%;
    width: 1100px;
    height: 500px;
}

.inte h2{
    text-align: center;
    color: antiquewhite;
    margin-top: 15px;
}

.inte p{
    text-align: center;
    color: antiquewhite;
    margin-top: 20px; 
}
/* About.html is end */


/* Data.html is start */

.section {
    flex-wrap: wrap;
	justify-content: center;
    padding-top: 10px;
    max-width: 1800px;
    margin-left: 9%;
}

.home {
	background-color: rgba(17, 15, 15, 0.76);
	box-shadow: 5px 10px 20px rgba(115, 194, 47, 0.829), 0 6px 6px rgba(25, 51, 10, 0.76);
    border-radius: 5px;
    display: inline-block;
    padding: 20px;
    list-style: none;
	position: relative;
    margin: 3%;
    width: 300px;
    height: 410px;
    transition: inherit;
}

.home h2{
    color: chartreuse;
    text-align: center;
    background-color: rgba(210, 105, 30, 0.555);
    border-radius: 4px;
}

.home .bord{
    border-bottom: 2px solid rgba(72, 210, 30, 0.925);
}

.bord{
    margin-top: 15px;
    margin-left: -20px;
    margin-right: -20px;
}

.links a{
    text-decoration: none;
}

.links h2{
    margin-top: 17px;
    color: chartreuse;
    text-align: center;
    background-color: rgba(210, 105, 30, 0.555);
    border-radius: 7px;
}
/* Data.html is end */