*{
    box-sizing: border-box;
}

body{
    background: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100vh;
}

h1{
    font-weight: bold;
    margin: 0;
}